@media all and (max-width: 576px) {

    ol {
        margin-bottom: 5px;
    }
    li {
        font-size: 0.7rem;
    }
    button {
        border: {
            radius: 0;
        }
        padding: 0;
        font-size: 20px;
        margin: 5px  auto;
        display: inline-block;
        width: 100%;
        &:last-of-type{
            margin-bottom: 10px;
        }
    }
}